@font-face { font-family: BebasNeueBlod; src: url(/Resources/Fonts/BebasNeueBold.otf); }
@font-face { font-family: BebasNeueBook; src: url(/Resources/Fonts/BebasNeueBook.otf); }
@font-face { font-family: BebasNeueLight; src: url(/Resources/Fonts/BebasNeueLight.otf); }
@font-face { font-family: BebasNeueRegular; src: url(/Resources/Fonts/BebasNeueRegular.otf); }
@font-face { font-family: BebasNeueThin; src: url(/Resources/Fonts/BebasNeueThin.otf); }

@font-face { font-family: Bemount; src: url(/Resources/Fonts/Bemount.otf); }

@font-face { font-family: BigStemRegular; src: url(/Resources/Fonts/BigStemRegular.ttf); }

@font-face { font-family: FashionCaps; src: url(/Resources/Fonts/FashionCaps.ttf); }
@font-face { font-family: FashionLight; src: url(/Resources/Fonts/FashionLight.ttf); }

@font-face { font-family: HattoriHanzo; src: url(/Resources/Fonts/HattoriHanzo.otf); }
@font-face { font-family: HattoriHanzoItalic; src: url(/Resources/Fonts/HattoriHanzoItalic.otf); }

@font-face { font-family: Heathergreen; src: url(/Resources/Fonts/Heathergreen.otf); }

@font-face { font-family: IgraSans; src: url(/Resources/Fonts/IgraSans.otf); }

@font-face { font-family: Intro; src: url(/Resources/Fonts/Intro.otf); }
@font-face { font-family: IntroBlack; src: url(/Resources/Fonts/IntroBlack.otf); }
@font-face { font-family: IntroLight; src: url(/Resources/Fonts/IntroLight.otf); }

@font-face { font-family: Lisa; src: url(/Resources/Fonts/Lisa.otf); }

@font-face { font-family: MintType; src: url(/Resources/Fonts/MintType.otf); }

@font-face { font-family: Mountain; src: url(/Resources/Fonts/Mountain.otf); }

@font-face { font-family: MullerExtraBold; src: url(/Resources/Fonts/MullerExtraBold.otf); }
@font-face { font-family: MullerThin; src: url(/Resources/Fonts/MullerThin.otf); }

@font-face { font-family: Natasha; src: url(/Resources/Fonts/Natasha.ttf); }

@font-face { font-family: NexaScript; src: url(/Resources/Fonts/NexaScript.otf); }

@font-face { font-family: PantonBlack; src: url(/Resources/Fonts/PantonBlack.otf); }
@font-face { font-family: PantonLight; src: url(/Resources/Fonts/PantonLight.otf); }