@using TP.PL.Helpers;
@{
    PageInfo Info = (PageInfo)ViewBag.Info;
    Layout = Info.LayoutHref;
}
<div class="Block LaserLogic" style="background-image: url('/Images/Games/LaserLogic/Logo.png')">
    <div class="Title" onclick="SearchGame.Open(0);">Начать игру!</div>
</div>
