@{
    Layout = ViewBag.Page.LayoutHref;
    ViewBag.Page.Title = "Home / ToPlay";
}

<div class="Block">
    <div class="Data DataNews">
        <img src="~/Resources/IMG/System/Home/Slider/X1.jpg" />
        <div class="Name NameNews">Новости</div>
    </div>
</div>

<div class="Block">
    <div class="InData DataPlus">
        <div class="Name NamePlus">Плюсы сервиса</div>
        <div class="Block">
            <div class="Data DataPlus">
                <div class="Name NamePlus">Быстро</div>
                <div class="Text">
                    Одна сессия в игре занимает небольшое количество времени! У Вас есть перерыв на работе или хотите немного
                    отдохнуть от рутины? Добро пожаловать! Вы попали куда надо! Проведите это время с удовольствием!
                </div>
            </div>
            <div class="Data DataPlus">
                <div class="Name NamePlus">Удобно</div>
                <div class="Text">
                    Не нужно скачивать и устанавливать! Вы хотите взять и играть не засоряя персональный компьютер?
                    Так чего Вы ждете, играйте прямо сейчас! Мы предоставляем именно эту возможность!
                </div>
            </div>
            <div class="Data DataPlus">
                <div class="Name NamePlus">Доступно</div>
                <div class="Text">
                    Не нужно платить! Игры бесплатны и без последующих взносов! Вы студент и у Вас нет денег?
                    Мы съэкономим Вам на пельмени. Не лезь в кошелек пока интернет не отключили. Вступай и играй!
                </div>
            </div>
        </div>
    </div>
</div>