@{
    Identity Identity = new Identity();
    bool isAuthentication = Identity.isAuthentication;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Resources/IMG/System/Fox50.png" type="image/png">
    <title>Home</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
