/* - COLORS - */
/* - FONTS - */
section .Block {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 0 2px #ffffff, inset 0 0 0 2px #2e2d3e;
  margin-top: 15px;
  background: center no-repeat;
  background-size: cover;
}
section .Block .Title {
  width: 200px;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 0 0 2px #ffffff;
  background: #2e2d3e;
  float: none;
  margin-top: 35px;
  font-family: Lisa;
  color: #ffffff;
  cursor: pointer;
}
section .Block .Title:hover {
  box-shadow: 0 0 0 2px #fe6d39;
  color: #fe6d39;
}
.WindowGame {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  z-index: 1000;
}
.WindowGame .Block {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  line-height: normal;
  box-shadow: 0 0 0 3px #ffffff;
  background: #fe6d39;
}
.WindowGame .Block .Top {
  width: 100%;
  height: 50px;
  background: #2e2d3e;
}
.WindowGame .Block .Top .Logo {
  width: 70px;
  height: 70px;
  position: relative;
  left: calc(15%);
  top: 15px;
  background: #ffffff url(/images/System/ToPlayFoxMini.svg) center no-repeat;
  box-shadow: 0 0 0 3px #2e2d3e;
  background-size: cover;
  border-radius: 35px;
}
.WindowGame .Block .Bottom {
  width: 100%;
  height: 165px;
  padding-top: 40px;
  text-align: center;
}
.WindowGame .Block .Bottom div {
  float: none;
  font-family: Lisa;
  color: #2e2d3e;
  width: 60%;
  margin-top: 15px;
}
.WindowGame .Block .Bottom .Title {
  padding: 7px 0;
  font-size: 25px;
  cursor: default;
  animation: LoadGame 2s infinite alternate linear;
}
.WindowGame .Block .Bottom .Load {
  font-size: 16px;
  animation: Load 30s forwards linear;
}
.WindowGame .Block .Bottom .Cancel {
  font-size: 12px;
  margin-top: 45px;
  cursor: pointer;
}
.WindowGame .Block .Bottom .Message {
  width: 80%;
  margin-top: 20px;
}
.WindowGame .Block .Bottom .Answer {
  width: 40%;
  padding: 5px 0;
  background: #2e2d3e;
  color: #ffffff;
  cursor: pointer;
  margin: 15px 5px 0 5px;
}
.WindowGame .Block .Bottom .TitleLoad {
  margin-top: 70px;
  font-size: 25px;
  cursor: default;
  animation: LoadGame 2s infinite alternate linear;
}
@keyframes LoadGame {
  0% {
    box-shadow: 0 0 0 3px #2e2d3e, inset -3px 0 0 0 #fe6d39, inset 0 0 0 0 #ffffff;
  }
  100% {
    box-shadow: 0 0 0 3px #2e2d3e, inset 150px 0 0 0 #fe6d39, inset 153px 0 0 0 #ffffff;
  }
}
@keyframes Load {
  0% {
    box-shadow: 0 0 0 3px #2e2d3e, inset 0 0 0 0 #ffffff;
  }
  100% {
    box-shadow: 0 0 0 3px #2e2d3e, inset 150px 0 0 0 #ffffff;
  }
}