/* - COLORS - */
/* - FONTS - */
.container.Gaming .Title {
  font-size: 21px;
}
.container.Gaming .List {
  margin: 0;
  padding: 0 15px;
}
.container.Gaming .List .Element {
  padding: 0 5px;
  margin: 5px 0;
}
.container.Gaming .List .Element .Gamer {
  position: relative;
  background-color: #fe6d39;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.container.Gaming .List .Element .Gamer:hover,
.container.Gaming .List .Element .Gamer.Select {
  background-size: 150%;
}
.container.Gaming .List .Element .Gamer.Select {
  outline: 3px solid #ffffff;
}
.container.Gaming .List .Element .Gamer:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.container.Gaming .List .Element .Gamer:after {
  position: absolute;
  top: -50%;
  left: -50%;
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 500px #fe6d39;
  border-radius: 50%;
}
.container.Gaming .List .Element .Gamer:hover:after,
.container.Gaming .List .Element .Gamer.Select:after {
  top: 3%;
  left: 7%;
  width: 86%;
  height: 86%;
}
.container.Gaming .List .Element .Gamer .Name {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.container.Gaming .List .Element .Name {
  width: 100%;
  min-height: 25px;
  line-height: 25px;
  background-color: #ffffff;
}
.container.Gaming .List .Element .Name span {
  color: #2e2d3e;
}